<nav class="navbar bg-dark text-light">
  <div class="container-fluid ">
    <div class="navbar-brand">
      <h2 class="lead  display-6">
         <strong>My GitHub Application</strong>
      </h2>
    </div>
  </div>
</nav>

<!-- end of the navbar -->
<!-- section for the body -->
<section>
   <div class="container-fluid">
     <div class="row">
       <div class="col md-5">
         <div class="card">
             <div class="card-image">
                
             </div>
             <div class="card-title">
               Username : 
             </div>
             <div class="card-body">
               Followers:
               Following:
              
             </div>
         </div>
       </div>
       <div class="col-md-7">
         <div class="row">
           <div class="search-bar">
              <form>
                <input type="search" name= "user" placeholder="Enter user name here" >
                <button class=" m-5 btn btn-secondary btn-lg"> Search</button>
              </form>
           </div>
         </div>
         <div class="row">
           <ul>
             <li>Repositories</li>
             <li>Repos</li>
             <li>repos</li>
           </ul>
         </div>
       </div>
     </div>
   </div>
</section>
