<nav class="navbar text-light">
  <div class="container-fluid">
    <div class="navbar-brand ">
      <h2 class="lead ">
         <strong>My GitHub App</strong>
      </h2>
    </div>
  </div>
</nav>

<!-- end of the navbar -->
<!-- section for the body -->
<section>
   <div class="container-fluid">
     <div class="row">
       <div class="col md-5">
         <div class="card">
             <div class="card-image">
                <img src="{{storedUsers.avatar_url}}" class="img-fluid" alt="username's image">
             </div>
             <div class="card-title">
               Username : {{ storedUsers.login}}
             </div>
             <div class="card-body">
               Followers: {{storedUsers.followers}}
               Following:{{storedUsers.following}}
              
             </div>
         </div>
       </div>
       <div class="col-md-7">
         <div class="row">
           <div class="search-bar">
              <form class="form-group">
                <input [(ngModel)]="username" #input="ngModel" type="search"  class= "form-control" name= "username"  >
                <button (click)="onClick()" class=" mt-3 btn btn-secondary btn-lg"> Search</button>
              </form>
           </div>
         </div>
         <div class="row">
           <ul>
             <li>Repositories</li>
             <li>Repos</li>
             <li>repos</li>
           </ul>
         </div>
       </div>
     </div>
   </div>
</section>
