

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Exo+2:wght@600&family=Raleway&family=Special+Elite&display=swap');
nav{
  background-color: #d32c37;
  font-family:  'Exo 2', sans-serif;
  text-align: center;
}

.nav-brand{
  text-align: center;
  margin:auto;
}

.card-image img{
  border-radius: 50%;
}