<nav class="navbar text-light">
  <div class="container-fluid">
    <div class="navbar-brand ">
      <h2 class="lead ">
         <strong>My GitHub App</strong>
      </h2>
    </div>
    <div class="nav-links ">
      <ul class= "d-flex justify-content-between">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="users">UsersSearch</a></li>
       
      </ul>
    </div>
  </div>
</nav>

<!-- <app-github-app></app-github-app> -->
<router-outlet></router-outlet>
<!-- section for the footer -->
<footer class="text-light">
  <p class="text-center">MyGitHub App <br>
    <img src="https://img.icons8.com/material-rounded/24/000000/copyright.png"/>2019
  </p>
  
</footer>