@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Exo+2:wght@600&family=Raleway&family=Special+Elite&display=swap');
nav{
  background-color: #ac111b;
  font-family:  'Exo 2', sans-serif;
  text-align: center;
}
.nav-links ul li a {
  text-decoration: none;
  color: white;
}
.nav-links ul li{
  list-style: none;
  padding-left: 2rem;
}
.nav-links ul li a:hover{
  background-color: black;
  
}
footer{
  background-color: #ac111b;
  margin-top : 2rem;
  margin-bottom: 0;
  height: 80px;
}

